
.interactable-container {
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    background-color: white;
    border: 0.25px solid var(--border);
    box-shadow: 0 1px 4px 0 var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 300ms;
    user-select: none;
}

.interactable-container p {
    color: var(--dark-accent);
    font-size: 15px;
    font-weight: normal;
}

.interactable-container:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 var(--shadow-hover);
}

.interactable-container:focus-within {
    box-shadow: 0 2px 4px 0 var(--shadow-hover);
}

.interactable-container > input:focus {
    border: none;
    outline: none;
}